<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form submission</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>
<body>
    <h1>Login form submission</h1>
    <form action="/login" method="post">
        <label for="username"> User Name </label>
        <input type="text" name="username" id="username" required>
        <label for="password"> Password </label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
    </form>
    <p>
        {% if username %}
            <span style="color: green;">Welcome, {{username}}</span>
        {% elif error %}
            <span style="color: red;">Invalid credentials</span>
        {% endif %}
    </p>
</body>
</html>